.navbar .logo,
.hero img
{
	border-radius: 50%;
}


@media (max-width: 419px)
{
	.hero img
	{
		max-height: 210px;
		margin: 2rem auto 1.2rem;
	}
}

.hero img
{
    max-width: 100%;
    max-height: 280px;
    display: block;
    margin: 3rem auto 1.5rem;
}
